<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock container center">
        <mat-card>
      <form class="container center" (keydown.enter) = "enter($event)">
        <h3>Update Your Info!</h3>
        <div class="formGroup">
          <label>Username</label>
          <input
            type="text"
            [(ngModel)]="userName"
            required
            minlength="4"
            placeholder="Display Name"
            class="form-control form-control-lg"
            name="userName"
            value="{{ this.user?.userName }}"
          />
        </div>
        <br />
        <div class="formGroup">
          <label>Profile Photo</label>
          <input
            type="url"
            [(ngModel)]="photo"
            required
            minlength="8"
            placeholder="Photo URL"
            class="form-control form-control-lg"
            name="photo"
            value="{{this.user?.profilePic}}"
          />
        </div>
        <br />
        <div class="formGroup">
          <label>Fish Personality</label>
          <input
            type="text"
            [(ngModel)]="fishPersonality"
            required
            placeholder="Fish Personality"
            class="form-control form-control-lg"
            name="fishPersonality"
            value="{{ this.user?.fishPersonality }}"
          />
        </div>
        <br />
        <div class="formGroup">
          <label>Location</label>
          <input
            type="text"
            [(ngModel)]="location"
            required
            placeholder="location"
            class="form-control form-control-lg"
            name="location"
            value="{{ this.user?.location }}"
          />
        </div>
        <br />
        <div class="formGroup">
          <label>Twiter </label>
          <input
            name="twitter"
            type="text"
            [(ngModel)]="twitter"
            placeholder="Twitter"
            class="form-control form-control-lg"
            value="{{ this.user?.twitter }}"
          />
        </div>

        <br />
        <div class="formGroup">
          <label>Facebook</label>
          <input
            name="facebook"
            type="text"
            [(ngModel)]="facebook"
            placeholder="Facebook"
            class="form-control form-control-lg"
            value="{{ this.user?.facebook }}"
          />
        </div>

        <br />
        <div class="formGroup">
          <label>Instagram</label>
          <input
            name="instagram"
            type="text"
            [(ngModel)]="instagram"
            placeholder="Instagram"
            class="form-control form-control-lg"
            value="{{ this.user?.instagram }}"
          />
        </div>
        <br />
        <div class="formGroup">
          <label>Bio</label>
          <textarea
            name="bio"
            type="text"
            [(ngModel)]="bio"
            placeholder="bio"
            class="form-control form-control-lg"
            value="{{ this.user?.bio }}"
          ></textarea>
        </div>
        <br />
        <div class="formGroup">
          <button
            id="update"
            class="nav-button redirect"
            mat-flat-button
            color="primary"
            (click)="update()"
            name="update"
          >
            Update
          </button>
        </div>
        <br />
        <div class="redirectToLogin">
          <span style="margin-right: 5px">Changed your mind?</span>
          <button class="nav-button redirect" mat-flat-button color="primary" routerLink="/profile">
            Back
          </button>
        </div>
      </form>
    </mat-card>
    </div>
  </div>
</div>
