<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock container center">
      <mat-card>
        <mat-card-content>
      <form class="container center">
      <div class="formGroup">
        <!-- these input fields takes email and password from user -->
        <label>Email Addresss</label>
        <input type="text" [(ngModel)]="email" placeholder="Enter email" class="form-control form-control-lg" name="email"/>
      </div>
      <div class="formGroup">
        <label>Password</label>
        <input 
          type="password"
          [(ngModel)]="password"
          placeholder="Enter password"
          class="form-control form-control-lg"
          name="password"
        />
        <br>
      </div>
        <!-- user click this button to login -->
        <div class="formGroup">
          <button
          id="sign-in"
          class="nav-button redirect"
          mat-flat-button
          color="primary"
          [disabled]="!email || !password"
          (click)="login()"
        >
          <span>Login</span>
        </button>
        </div>
      <br>
      <div class="redirectToLogin">
        <span style="margin-right: 5px;"
          >Don't have an account?</span>
          <button
            class="nav-button"
            mat-flat-button
            color="primary"
          >
          <span class="redirect" routerLink="/sign-up">Sign-up</span>
          </button>
      </div>
    </form>
  </mat-card-content>
  </mat-card>
    </div>
  </div>
</div>
