<mat-toolbar style="background-color: #0673ef">
  <button
    class="nav-button redirect"
    mat-flat-button
    style="background-color: #0673ef"
    color="primary"
    routerLink=""
  >
    <i class="fas fa-leaf" style="margin-right: 3px; margin-bottom: 3px;"></i>Kelp
  </button>

  <span class="example-spacer"></span>
  <button
    *ngIf="angularFire.user | async"
    class="nav-button redirect"
    mat-flat-button
    style="background-color: #0673ef"
    color="primary"
    routerLink="/dashboard"
  >
    
      <i class="fas fa-anchor" style="margin-right: 3px; margin-bottom: 3px;"></i>Dashboard
  </button>

  <button
    class="nav-button redirect"
    mat-flat-button
    style="background-color: #0673ef"
    color="primary"
    routerLink="/aquariums"
  >
 
      <i class="fas fa-fish" style="margin-right: 3px; margin-bottom: 3px;"></i>Aquariums
  </button>

  <button
    *ngIf="!(angularFire.user | async)"
    class="nav-button redirect"
    mat-flat-button
    style="background-color: #0673ef"
    color="primary"
    routerLink="/sign-up"
  >
    
      <i class="far fa-user-circle" style="margin-right: 3px; margin-bottom: 3px;"></i>Register
  </button>

  <button
    *ngIf="!(angularFire.user | async)"
    class="nav-button redirect"
    mat-flat-button
    style="background-color: #0673ef"
    color="primary"
    routerLink="/sign-in"
  >
    <i class="fas fa-sign-in-alt" style="margin-right: 3px; margin-bottom: 3px;"></i>Login
  </button>

  <button
    (click)="logout()"
    *ngIf="angularFire.user | async"
    class="nav-button redirect"
    mat-flat-button
    style="background-color: #0673ef"
    color="primary"
  >
      <i class="fas fa-sign-out-alt" style="margin-right: 3px; margin-bottom: 3px;"></i>Logout
  </button>
</mat-toolbar>
