<mat-toolbar color="primary">
  <button class="nav-button" mat-flat-button color="primary">
    <i class="fas fa-leaf"></i>
    <span>Kelp2</span>
  </button>

  <span class="example-spacer"></span>
  <button class="nav-button" mat-flat-button color="primary">
    <i class="fas fa-fish"></i>
    <span>Aquariums</span>
  </button>

  <button class="nav-button" mat-flat-button color="primary">
    <i class="far fa-user-circle"></i>
    <span>Register</span>
  </button>

  <button class="nav-button" mat-flat-button color="primary">
    <i class="fas fa-sign-in-alt"></i>
    <span>Login</span>
  </button>
</mat-toolbar>
