.box {
  background-color: rgb(255, 215, 86);
  margin: 10px 0 10px 0;
  /* width: 100%; */
  padding: 10px;
}
.btn-comment {
  margin: 0 10px;
}

.photo {
  width: 100px;
  border-radius: 50px;
}
.arrow-up {
  color: #00aeff;
}
