<form class="container">
    <h1 class="page-title mt-5">Add a Review for the {{aquarium?.name}}</h1>

    <mat-form-field>
        <mat-label >Give a rating</mat-label>
        <input name="rating" matInput type="number" class="rating" [(ngModel)]="rating"><br>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>When did you visit?</mat-label><br>
        <input matInput name="date" type="date" class="visited-date" [(ngModel)]="dateVisited">
    </mat-form-field>
    <br>
    <mat-form-field class="description">
        <mat-label>What did you love? What could have been better?</mat-label>
        <textarea matInput type="text" name="description"  [(ngModel)]="description" cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"></textarea>
    </mat-form-field>
    <br>
    <button class="btn-primary submit" (click)="onSubmit()">Submit</button>
</form>
